<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.api.dao.TeacherMapper">
    <resultMap id="BaseResultMap" type="cc.mrbird.febs.api.domain.Teacher">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="skill_in" jdbcType="VARCHAR" property="skillIn" />
        <result column="price" jdbcType="INTEGER" property="price" />
        <result column="resume" jdbcType="VARCHAR" property="resume" />
        <result column="avatar" jdbcType="VARCHAR" property="avatar" />
        <result column="experience" jdbcType="INTEGER" property="experience" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    </resultMap>
    <sql id="Base_Column_List">
    id, `name`, title, skill_in, price, resume, avatar,experience, create_by, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from teacher
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cc.mrbird.febs.api.domain.Teacher" useGeneratedKeys="true">
    insert into teacher (`name`, title, skill_in,
      price, resume, avatar, experience, create_by,
      create_time)
    values (#{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{skillIn,jdbcType=VARCHAR},
      #{price,jdbcType=INTEGER}, #{resume,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{experience,jdbcType=INTEGER}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cc.mrbird.febs.api.domain.Teacher" useGeneratedKeys="true">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="skillIn != null">
                skill_in,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="resume != null">
                resume,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="experience != null">
                experience,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="skillIn != null">
                #{skillIn,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=INTEGER},
            </if>
            <if test="resume != null">
                #{resume,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="experience != null">
                #{experience,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cc.mrbird.febs.api.domain.Teacher">
        update teacher
        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="skillIn != null">
                skill_in = #{skillIn,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=INTEGER},
            </if>
            <if test="resume != null">
                resume = #{resume,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="cc.mrbird.febs.api.domain.Teacher">
    update teacher
    set `name` = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      skill_in = #{skillIn,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      resume = #{resume,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>
